<!DOCTYPE html>
<html>
  <head>
    <title>app | Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script async defer src="/dist/admin.js"></script>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
